.header {
  align-items: center;
  background-color: #f47216;
  display: flex;
  height: 60px;
  justify-content: space-around;
  left: 0;
  padding: 10px auto;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 600;
}
