@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bloco CSS Header */
.header {
  @apply flex flex-col justify-around items-center text-white pt-2 pb-2
   text-sm font-bold bg-orange-500 sticky top-0 left-0 w-full z-10
}

.nav-icons {
  @apply flex flex-row justify-around items-center w-full
}

.search-bar {
  @apply flex flex-col items-center w-full mt-2
}

.radio-buttons {
  @apply flex flex-row justify-around items-center w-full mt-2
}

.title {
  @apply text-lg break-words text-center
}

.footer {
  @apply flex flex-row justify-around border-b-0 border-solid border-2
  bg-orange-500 fixed bottom-0 left-0 right-0 items-center h-11
}